.header-image{
    width: 1000px;
    margin-left: 250px;
    background-color: white;
    margin-top: 200px;
    margin-bottom: 200px;
    opacity: 85%;
    padding-left: 15px;
    padding-right: 15px;
}

.header-elements{
    background-image: url(./images/blackeyedpeas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.who{
    color: #3f3e81;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 5px;
    font-size: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description{
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
}

.members{
    text-align: center;
    color: #3f3e81;
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.member-names{
    font-size: 30px;
    padding-top: 40px;
    display: inline;
    font-weight: 700;
}

.member-image{
    float: left;
    width: 300px;
    margin-right: 30px;
}

.personal-description{
    display: block;
    font-size: 30px;
    margin-right: 30px;
    
}

.f-div{
    overflow: auto;
    clear: both;
    border: #3f3e81 solid 5px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

