.header-image{
    width: 1000px;
    margin-left: 250px;
    background-color: white;
    margin-top: 200px;
    margin-bottom: 200px;
    opacity: 85%;
    padding-left: 15px;
    padding-right: 15px;
}

.header-elements{
    background-image: url(./images/blackeyedpeas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

